<article id="COMPONENT_Coupons" class="container-fluid" ui-view>
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>Coupons</h3>
    </div>

    <!--====== FILTERS ======-->
    <form name="CouponsSearchForm" class="form-inline" ng-submit="coupons.search()">
        <fieldset class="form-group">
            <input type="search" placeholder="Search Coupons..." ng-model="coupons.parameters.search" class="form-control">
        </fieldset>
        <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':coupons.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="coupons.searchResults" ng-click="coupons.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
            <!--Commenting out filters until they are supported by the API-->

            <!--		<span ng-class="{'btn-group':coupons.filtersApplied}" ng-if="application.$ocMedia('max-width:767px')">
                        <button type="button" class="btn btn-default" ng-click="coupons.showFilters = !coupons.showFilters"><i class="fa fa-filter"></i> Filters</button>
                        <button ng-if="coupons.filtersApplied" ng-click="coupons.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
                    </span>-->
        </fieldset>
    </form>
    <!--
    <div class="row" style="margin-top:15px;" uib-collapse="!coupons.showFilters">
        <div class="col-md-6 col-lg-4">
            <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
                <label>Sorty By:</label>
                <div ng-class="{'input-group':coupons.sortSelection}">
                    <select placeholder="Sort" class="form-control" ng-model="coupons.sortSelection" ng-change="coupons.updateSort()">
                        <option value="ID">ID</option>
                        <option value="CouponCode">Code</option>
                        <option value="Label">Label</option>
                        <option value="CouponType">Type</option>
                        <option value="Enabled">Enabled</option>
                    </select>
                    <div ng-if="coupons.sortSelection" class="input-group-btn">
                        <button class="btn btn-default" ng-click="coupons.reverseSort()">
                            <i class="fa fa-sort"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!coupons.list.Items.length">
        <b>No matches found.</b>
    </div>
    <div ng-if="coupons.list.Items.length">
        <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? coupons.list.Meta.ItemRange[0] : '1') + ' - ' +  coupons.list.Meta.ItemRange[1] + ' of ' + coupons.list.Meta.TotalCount + ' results'}}</b>
        <table class="table table-hover oc-table-responsive" servicename="Coupons" controlleras="coupons">
            <thead>
            <tr>
                <!--commenting out sorting until the API supports coupon sorting-->
                <th scope="col">
                    <!--<a href="#" role="button" ng-click="coupons.updateSort('ID')">-->
                    ID
                </th>
                <th scope="col">
                    <!--<a href="#" role="button" ng-click="coupons.updateSort('Code')">-->
                    Code
                </th>
                <th scope="col">
                    <!--<a href="#" role="button" ng-click="coupons.updateSort('Label')">-->
                    Label
                </th>
                <th scope="col">
                    <!--<a href="#" role="button" ng-click="coupons.updateSort('CouponType')">-->
                    Type
                </th>
                <th scope="col" class="text-center">
                    <!--<a href="#" role="button" ng-click="coupons.updateSort('Enabled')">-->
                    Enabled
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="coupon in coupons.list.Items track by $index">
                <th scope="row">{{coupon.ID}}</th>
                <td data-title="Code">{{coupon.CouponCode}}</td>
                <td data-title="Label">{{coupon.Label}}</td>
                <td data-title="Type">{{coupon.CouponType}}</td>
                <td data-title="Enabled" class="text-center"><i class="fa fa-circle" ng-class="{'active': coupon.Enabled}"></i></td>
                <td class="actions-cell">
                    <button ui-sref="coupons.edit({couponid: coupon.ID})" class="btn btn-default btn-sm">Edit</button>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>Assign <span class="caret"></span></button>
                        <ul class="dropdown-menu-right" uib-dropdown-menu role="menu">
                            <li role="menuitem"><a ui-sref=".assignParty({couponid: coupon.ID})">Party Assignments</a></li>
                            <li role="menuitem"><a ui-sref=".assignProduct({couponid: coupon.ID})">Product Assignments</a></li>
                            <li role="menuitem"><a ui-sref=".assignCategory({couponid: coupon.ID})">Category Assignments</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && coupons.list.Meta.TotalPages > 1">
            <uib-pagination boundary-links="coupons.list.Meta.TotalPages > 5"
                            max-size="5" total-items="coupons.list.Meta.TotalCount"
                            items-per-page="coupons.list.Meta.PageSize"
                            ng-model="coupons.list.Meta.Page"
                            ng-change="coupons.pageChanged()"></uib-pagination>
        </div>
        <button type="button"
                ng-if="application.$ocMedia('max-width:767px')"
                class="btn btn-default btn-block btn-lg"
                ng-show="coupons.list.Meta.Page < coupons.list.Meta.TotalPages"
                ng-click="coupons.loadMore()">Load More</button>
    </div>
</article>